/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
    @apply lg:w-9/12 md:w-[90%] w-[95%] mx-auto;
}

.gradient-01 {
    position: absolute;
    width: 200px;
    height: 238px;
    top: 0;
    background: #ca00ff;
    filter: blur(175px);
}

.gradient-02 {
    position: absolute;
    width: 200px;
    height: 238px;
    top: -6rem;
    right: 0px;
    background: #7aebfb;
    filter: blur(190px);
}